<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Place Registration</title>
    
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

    <script src="/script.js" defer></script>
  </head>
  <body style="max-width: 100vw;"> 
    <div class="container center">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
          <form action="create" method="POST">
            <h1>
              Generate QR Code
            </h1>
            <input type="text" id="place-name" name="place-name" placeholder="Place Name" required/>
            <br />
            <input
              type="submit"
              value="Register Another Place"
            />
          </form>
          <img style="opacity: 0.5;" src="https://api.qrserver.com/v1/create-qr-code/?data={{ id }}">
        </div>
        <div class="col-3" id="qr-image">
          
        </div>
      </div>
    </div>
  </body>
</html>
